*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

p, a, text {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

@mixin phone {
  @media (max-width: 480px) {
    @content;
  }
}

@import "containers/App";